#Dependency directories
node_modules

#Build output
dist/

#Environment variables
.env
.env.local

#Testing
coverage/

#Logs
*.log

#Editor
.vscode

#OS files
.DS_Store

#Generated Prisma client
/src/generated/prisma

playground/